*.txt filter=lfs diff=lfs merge=lfs -text
LiverAtlas_PA/datasets/Atlas/peptides.txt filter=lfs diff=lfs merge=lfs -text
LiverAtlas_PA/datasets/Atlas/proteinGroups_minratio2.txt filter=lfs diff=lfs merge=lfs -text
